<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" maxRequestLength="40960" executionTimeout="200" appRequestQueueLimit="100" />
      <sessionState mode="InProc" cookieless="false" timeout="20"></sessionState>
    </system.web>
<connectionStrings>
    <add name="MyConn" connectionString="Data Source=.;Initial Catalog=test;Integrated Security=True"/>
  </connectionStrings>
</configuration>

